.card:hover{
    background-color:#BBB;
}
.card {
    border:0;
    border-right: 1px solid black;
    border-radius: 0;
    padding: 0;

}
.card-body{
    padding: 0;
}
.card img {
    max-width: 30px;
    display:inline;
}
.card h5 {
    display:inline;
    margin-bottom: 1.5em;
}

.messageContent br {
    display: none;
}

main {
    font-family: helvetica;
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1300px;
}

.berichtenvlak{
    width: 800px;

}
.chat {
    width: 800px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
    margin-right: 50%;
    background-color: #eee;
    position: relative;
}


.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}
.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
    color: white;
    margin-left: 50%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}


.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}

.sturen{
    width:100%;
}

#inputBericht{
    width: 600px;
    padding:1em;
}

.jumbotron{
    padding:2rem 1rem;
}

.highlighted{
    background-color: #BBB;
}