body{
    margin: 0;
}

/* ----- Lines ----- */

.line{
    min-height: 40px;
    width: 100%;
    padding: 5px;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
    display: block;
    overflow:auto;
    width: 200px;
    margin-left: 10px;
}

/* ----- Columns ----- */

.col1, .col2{
    height: 100%;
    display: inline-block;
}

.col1{   
    font-size: 12px;
}
.col2{
    width: 60%;
    float: right;
}

.col2 input{
    width: 100%;
}

.col2 select{
    width: 100%;
}

/* Other */

#applyFilter{
    margin:  5px 5px 5px 150px;
    clear: both;
}

#searchBar {
    width: 500px;
    margin-left: 220px;
}
#changeSearch {
    width: 150px;
    margin-left: 250px;
}

/*Extra toegevoegd, nog aan te passen */
.col8 {
    width: 100%;
    padding: 5px;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
    display: block;
    overflow:auto;
    width: 600px;
    margin-left: -130px;
}