body{
    margin: 0;
}

/* ----- Lines ----- */

.line{
    min-height: 40px;
    width: 100%;
    padding: 5px;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
    display: block;
    overflow:auto;
    width: 200px;
    margin-left: 10px;
}

/* ----- Columns ----- */

.col1, .col2{
    height: 100%;
    display: inline-block;
}

.col1{   
    font-size: 12px;
}
.col2{
    width: 60%;
    float: right;
}

.col2 input{
    width: 100%;
}

.col2 select{
    width: 100%;
}

/* Other */

#applyFilter{
    margin:  5px 5px 5px 150px;
    clear: both;
}

#searchBar {
    width: 500px;
    margin-left: 220px;
}
#changeSearch {
    width: 150px;
    margin-left: 250px;
}

/*Extra toegevoegd, nog aan te passen */
.col10 {
    padding: 5px;
    background-color: #eeeeee;
    margin-bottom: 5px;
 /*   display: block;*/
 /*   overflow:auto;*/
/*    width: 600px;*/
}
#test {
  
}
#aantalresult {
    float: right;
}

table, td, tr, th{
    padding: 0;
}

td{
    padding-top: 3px;
    padding-right: 20px;
}

tr:nth-child(0n+0){
    width:100px;
}

tr:nth-child(1n+0){
    width:100px;
}

tr:nth-child(2n+0){
    width: 120px;
}

table:nth-child(3n+0){
    width: 150px;
}

tr:nth-child(4n+0){
    width: 150px;
}

tr:nth-child(5n+0){
    width:200px ;
}

tr:nth-child(6n+0){
    width: 100px;
}

#containerprofielen {
    width: 1050px;
}