body{
    margin: 0;
}

/* ----- Lines ----- */

.line{
    min-height: 40px;
    width: 100%;
    padding: 5px;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
    display: block;
    overflow:auto;
    width: 200px;
    margin-left: 10px;
}

/* ----- Columns ----- */

.col1, .col2{
    height: 100%;
    display: inline-block;
}

.col1{   
    font-size: 12px;
}
.col2{
    width: 60%;
    float: right;
}

.col2 input{
    width: 100%;
}

.col2 select{
    width: 100%;
}

/* Other */

#applyFilter{
    margin:  5px 5px 5px 150px;
    clear: both;
    padding-right: 10px;
}

#searchBar {
    width: 500px;
   
}
#changeSearch {
    width: 150px;
    
}

/*Extra toegevoegd, nog aan te passen */
.col10 {
    padding: 5px;
    background-color: #eee;
    margin-bottom: 5px;
 /*   display: block;*/
 /*   overflow:auto;*/
/*    width: 600px;*/
}
#test {
  
}
#aantalresult {
    float: right;
}

table, td, tr, th{
    padding: 0;
}

td{
    padding-top: 3px;
    padding-right: 20px;
}

tr:nth-child(0n+0){
    width:100px;
    
}

tr:nth-child(1n+0){
    width:100px;
    
}

tr:nth-child(2n+0){
    width: 120px;
    
}

table:nth-child(3n+0){
    width: 150px;
    
}

tr:nth-child(4n+0){
    width: 150px;
    
}   

tr:nth-child(5n+0){
    width:200px ;
    
}

tr:nth-child(6n+0){
    width: 100px;
    
}



.container {
    width: 100%;
    background-image: url("../img/profiel_bg1.jpg");
    border-radius: 10px;
    padding: 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#gridFilter {
    background-color: #EEE;
    border-radius: 10px;
    float: left;
    
}

#profielen {
    background-color: #EEE;
    border-radius: 10px;
    float: right;

}

tr:nth-child(2) {
    background-color: #DDD;
    
}

tr:nth-child(3) {
    
}

tr:nth-child(4) {
    background-color: #DDD;
}

tr:nth-child(5) {
    
}

tr:nth-child(6) {
    background-color: #DDD;
}

tr img {
    border-color: rgb(66, 167, 244);
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    padding: 3px;
    display: block;
}

#nietsGevonden {
    font-size: 24px;
}